doctype 5
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//orp.aki017.info:3000/socket.io/socket.io.js")
    script(src="/javascripts/orp.js")
    script(src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
